In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [14]:
from numpy import genfromtxt


data_path = '/content/gdrive/MyDrive/Diabetes_Daignosis/dataset_37_diabetes.csv'
# my_data = genfromtxt(data_path, delimiter=',')

In [36]:
import pandas as pd
df = pd.read_csv(data_path) 
df

     preg  plas  pres  skin  insu  mass   pedi  age          classes
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [37]:
df.classes

0      tested_positive
1      tested_negative
2      tested_positive
3      tested_negative
4      tested_positive
            ...
763    tested_negative
764    tested_negative
765    tested_negative
766    tested_positive
767    tested_negative
Name: classes, Length: 768, dtype: object

In [38]:
# Chagnge class to correspnding integerc class
df.classes = pd.factorize(df.classes)[0]
df

     preg  plas  pres  skin  insu  mass   pedi  age  classes
0       6   148    72    35     0  33.6  0.627   50        0
1       1    85    66    29     0  26.6  0.351   31        1
2       8   183    64     0     0  23.3  0.672   32        0
3       1    89    66    23    94  28.1  0.167   21        1
4       0   137    40    35   168  43.1  2.288   33        0
..    ...   ...   ...   ...   ...   ...    ...  ...      ...
763    10   101    76    48   180  32.9  0.171   63        1
764     2   122    70    27     0  36.8  0.340   27        1
765     5   121    72    23   112  26.2  0.245   30        1
766     1   126    60     0     0  30.1  0.349   47        0
767     1    93    70    31     0  30.4  0.315   23        1

[768 rows x 9 columns]

In [39]:
data = df.values.tolist()
for i in range(5):
  print(data[i])
type(data)
len(data)

[6.0, 148.0, 72.0, 35.0, 0.0, 33.6, 0.627, 50.0, 0.0]
[1.0, 85.0, 66.0, 29.0, 0.0, 26.6, 0.35100000000000003, 31.0, 1.0]
[8.0, 183.0, 64.0, 0.0, 0.0, 23.3, 0.672, 32.0, 0.0]
[1.0, 89.0, 66.0, 23.0, 94.0, 28.1, 0.16699999999999998, 21.0, 1.0]
[0.0, 137.0, 40.0, 35.0, 168.0, 43.1, 2.2880000000000003, 33.0, 0.0]

768

In [40]:
import random
train_set=[]
val_set=[]
test_set=[]
random.shuffle(data)

In [42]:
#Split data set
for s in data:
  r=random.uniform(0,1)
  if r>=0 and r<=0.7 and len(train_set)/len(data)<=0.7 :
    train_set.append(s)
  elif r>0.7 and r<=0.85 and len(val_set)/len(data)<=0.15 :
    val_set.append(s)
  elif r >0.85 and r<=1 and len(test_set)/len(data) <= 0.15:
    test_set.append(s)

print(len(train_set)/len(data))
print(len(val_set)/len(data))
print(len(test_set)/len(data))

0.7005208333333334
0.15104166666666666
0.15104166666666666

In [43]:
# Validation Check
import math
import numpy as np
k=15
cnt=0
for v in val_set:
  l=[]
  val_arr=np.array(v[:-1])
  for t in train_set:
    train_arr=np.array(t[:-1])
    dist = np.linalg.norm(val_arr-train_arr)
    l.append([dist,t])
  l.sort()
  l=l[:k]
  
  frequency=[]
  for i in range(k):
    frequency.append(l[i][1][-1])
  cls=max(frequency,key=frequency.count)
  if v[-1]==cls:
    cnt+=1
    

accuracy=(cnt/len(val_set))*100
print(accuracy)

84.48275862068965

In [44]:
#Test case Check
k=15
cnt=0
for v in test_set:
  l=[]
  test_arr=np.array(v[:-1])
  for t in train_set:
    train_arr=np.array(t[:-1])
    dist = np.linalg.norm(test_arr-train_arr)
    l.append([dist,t])
  l.sort()
  l=l[:k]
  
  frequency=[]
  for i in range(k):
    frequency.append(l[i][1][-1])
  cls=max(frequency,key=frequency.count)
  if v[-1]==cls:
    cnt+=1
    

accuracy=(cnt/len(test_set))*100
print(accuracy)

79.3103448275862